.checkout-side-menu {
    width: 360px;
    height: calc(100vh - 68px);
    top: 68px;
}

.scrollable-cards {
    overflow: scroll;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
.scrollable-cards {
    scrollbar-width: auto;
    scrollbar-color: #141414 #ffffff;
    /* overflow-x: hidden; */
}

/* Chrome, Edge, and Safari */
.scrollable-cards::-webkit-scrollbar {
    width: 10px;
    /* overflow-x: hidden; */
}

.scrollable-cards::-webkit-scrollbar-track {
    background: #ffffff;
    /* overflow-x: hidden; */
}

.scrollable-cards::-webkit-scrollbar-thumb {
    background-color: #777;
    border-radius: 4px;
    border: 3px solid #555;
    /* overflow-x: hidden; */
}